
#header{
	display: none;
}

#container{
	
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(233, 233, 233, 1);
	max-width: 700px;
	border-radius: 51px;
	min-height: 565px;
	margin-top: 3px;

}

#container p{
	display: none; 


}

.redborder a{
	display: inline-block;
	height: 100%;		
	width: 100%;
	box-shadow: inset 0px 0px 18px -5px #49628A;
	-webkit-box-shadow: inset 0 0 30px 15px #49628a;
    -moz-box-shadow: inset 0 0 30px 15px #49628a;

	border-radius: 10px;
}

.redborder a:hover {
 
   
   border-radius: 9px;
   top: 30px;
   box-shadow: 0px 0px 20px rgba(255, 99, 0, 0.85);
	-webkit-transition: 500ms linear 0s;
    -moz-transition: 500ms linear 0s;
    -o-transition: 500ms linear 0s;
    transition: 500ms linear 0s;
   -


}



   .redborder{
	
	float: left;
	width: 140px;
	margin: 6% 1% -2% 3%;
	text-align: center;
	min-height: 140px;
	border-radius: 12px;
	border: thin solid gray;
	background: #fff;
	height: 140px;
	position: relative;

	
}



#dash{
	margin: 2% 0% 0% 5%;
	
}


      
 #body{
	
	background-color: #AAA8A8;
	margin-top: 0px;
} 

#box1{

	background: url('images/watch.jpg') no-repeat scroll center transparent;
	background-color: #fff;
	display: inline-block;
}

#box2{

	background: url('images/insight.jpg') no-repeat scroll center transparent;
	background-color: #fff;
}

#box3{

	background: url('images/sims2.jpg') no-repeat scroll center transparent;
	background-color: #fff;
}

#box4{

	background: url('images/logo1.jpg') no-repeat scroll center transparent;
	background-color: #fff;
}

#box5{

	background: url('images/google.png') no-repeat scroll center transparent;
	background-color: #fff;
}

#box6{

	background: url('images/calendar.png') no-repeat scroll center transparent;
	background-color: #fff;

}

#box7{

	background: url('images/email.png') no-repeat scroll center transparent;
	background-color: #fff;
}

#box8{

	background: url('images/info.png') no-repeat scroll center transparent;
	background-color: #fff;
}

#box9{

	background: url('images/policy.png') no-repeat scroll center transparent;
	background-color: #fff;
}

#box10{

	background: url('images/jr.jpg') no-repeat scroll center transparent;
	background-color: #fff;
}

#box11{

	background: url('images/rm.jpg') no-repeat scroll center transparent;
	background-color: #fff;
}

#box12{

	background: url('images/news.png') no-repeat scroll center transparent;
	background-color: #fff;
}

#footer p{
	text-align: center;
	font-family: 'Open Sans', sans-serif;

}


