

.redborder{
	border: 3px solid red;
	padding: 3px 3px 3px 3px;
	float: left;
	width: 200px;

}

#container{
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;

}

#body{
	background-color: grey;
}